*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h2{
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

#choose-coin{
    position: relative;
    left: 525px;
}

.coin-style{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
    border: 1px solid rgb(238, 255, 0);
    background-color: transparent;
    border-radius: 50%;
}

.coin-style:hover{
    box-shadow: 0px 0px 15px rgb(238, 255, 0);
}

#head{
    background-image: url(img/realfront.png);
}

#tails{
    background-image: url(img/realback.png);
}


.coinStyles{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 1px solid rgb(238, 255, 0);
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(238, 255, 0);
}

#vitoria{
    color: rgb(238, 255, 0);
}

#derrota{
    color: red;
}

#playAgain{
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border-style: none;
}

#playAgain:hover{
    background-color: rgb(238, 255, 0);
    box-shadow: 0px 0px 15px rgb(238, 255, 0);
    cursor: pointer;
}