*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

h1{
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: gold;
}

h2{
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

#choose-coin{
    margin: 60px;
    position: relative;
    display: flex;
    justify-content: center;
}

.coin-style{
    margin: 20px;
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
    border: 1px solid gold;
    background-color: transparent;
    border-radius: 50%;
}

.coin-style:hover{
    box-shadow: 0px 0px 10px gold;
    transition: 500ms;
}

#head{
    background-image: url(img/realfront.png);
}

#tails{
    background-image: url(img/realback.png);
}


.coinStyles{
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 1px solid gold;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 15px gold;
}

#vitoria{
    color: gold;
    text-align: center;
}

#derrota{
    color: red;
    text-align: center;
}

#cara{
    position: relative;
}

#coroa{
    position: relative;
}

#playAgain{
    position: relative;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 1px solid gold;
    background-color: black;
    color: gold;
}

#playAgain:hover{
    background-color: gold;
    box-shadow: 0px 0px 5px gold;
    color: black;
    cursor: pointer;
    transition: 800ms;
}