*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 20px;
}

.coin-style{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    border-radius: 50%;
}

.coin-style:hover{
    box-shadow: 0px 0px 10px black;
}

#head{
    background-image: url(img/realfront.png);
}

#tails{
    background-image: url(img/realback.png);
}